
p{
    color: rgb(128, 122, 122);
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    margin-left: 100px;
}

h1,h2,h3,h4,h5{
    color:rgb(163, 219, 98);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-top: solid 3px rgb(19, 159, 131) ;
    padding-top: 10px;
    padding-left: 100px;

}

.atencion{
    color: rgb(51, 51, 47);
    border: 1px red dashed ;
    background-color: yellow;
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 20px;
}

.atencion strong {
    color:#f60;
}

#cuerpo{
    background-color: #ff9;
    background-image: url(imagenes/fondo.jpg);
    background-repeat: repeat-y;
    background-position: center top;
    width: 750px;
    margin: 0 auto;
}

h1+p{
    color: #f60;
    font-size: 1.2em;
    line-height: 140%;
    margin-top: 20px;
}